/*.place__text-block{
  z-index: 100;
  position: absolute;
  color: black;
  left: 100px;
  top: 430px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  border: solid 2px pink;
}*/