.place__title{
        font-size: 72px;
        line-height: 76px;
        font-style: normal;
        font-weight: 900;
        margin-top: 92px;
        text-align: left;
        grid-area: title;
        margin-bottom: 0;
}



@media screen and (min-width: 768px) and (max-width: 1280px){
.place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
    }
}        
        
@media screen and (max-width:768px) {
.place__title{
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
        margin: 46px 24px 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px){
.place__title {
    margin: 50px 16px 0;
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    justify-content: center;
    }
}

@media screen and (max-width: 320px){
    .place__title {
        margin: 50px 16px 0;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        justify-content: center;
        }
    }

