.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0px 0px 30px;
  max-width: 358px;
  width: 100%;
  padding: 0px 0px 11.53px;
}

/*.popup__input:invalid{
  border-bottom: 1px solid #FF0000;
  
}

.popup__input:valid{
   border-bottom: 1px solid #000000;
}*/

.popup__input_type_error{
  border-bottom: 1px solid #FF0000;
}
@media screen and (max-width: 520px) {
  .popup__input {
    max-width: 238px;
  }
}
