.description__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    /*text-align: start;*/
    padding-top: 40px;
    /*margin: 40px 412px 0 148px;*/
    /*overflow: hidden;*/
    
    
}