.element__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  color: #000000;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 225px;
}
