.place__button {
  background: #0278fe;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding: 13px 20px;
  justify-self: start;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  grid-area: button;
  margin-bottom: 80px;
  height: min-content;
}

.place__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 700px) {
  .place__button {
    margin-bottom: 50px;
    min-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .place__button {
    margin: 0 16px;
    min-width: 288px;
  }
}
