.popup__save {
  max-width: 358px;
  width: 100%;
  border-radius: 2px;
  border: 0px;
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  padding: 13.66px 124px 18.49px 125px;
  margin: 0;
}
