.description__text{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
    /*text-align: start;*/
    padding-top: 32px;
    /*margin: 32px 412px 0 148px;*/
    
    
}