.header {
  max-width: 880px;
  margin: 0 auto;
  text-align: start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1000px) {
  .header {
    max-width: 70%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-width: 100%;
  }
}
