.header__main-image{
    width: 100%;
    margin: auto;
    filter: grayscale(100%);
    margin: 64px auto 0;
}


@media screen and (max-width:768px) {
.header__main-image{
    max-width: 100%;
    border-style: none;
    justify-content: center;
    align-items: center;
    margin: 36px 0 0 0;
    }
}

/*
@media screen and (min-width: 320px) and (min-width: 768px){
.header__main-image{
    max-width:100%;
    margin: 0;
    }
}*/

@media screen and (max-width:320px) {
.header__main-image{
    max-height: 200px;
    height: auto;
    margin: 40px 0 0 0;
    }
    }