.profile__add-button {
  display: flex;
  align-self: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-left: 165px;
  padding: 14px 64px;
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity linear 0.35s;
  opacity: 1;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 785px) {
  .profile__add-button {
    padding: 17px 17px;
    margin: 36px auto;
    width: 278px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    padding: 17px 133px;
    margin: 36px 19px;
    width: 282px;
    height: 50px;
    background-size: 16px 16px;
  }
}
