.place__artist-heading{
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.12em;
text-transform: uppercase;
width: 50px;
height: 15px;
margin: 0;
    border: rgb(255, 220, 105) 2px solid;
}