.place__title{
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 900;
        margin-top: 92px;
        text-align: left;
        grid-area: title;
        margin-bottom: 0;
}



@media screen and (max-width: 768px) and (min-width: 1279px){
.place__title {
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 340px;
    }
}        
        
@media screen and (max-width:768px) {
.place__title{
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 340px;
        margin: 46px 24px 0 0;
    }
}

@media screen and (max-width: 320px) and (min-width: 600px){
.place__title {
    margin: 0 16px;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 288px;
    justify-content: center;
    }
}

@media screen and (max-width:320px) {
.place__title{
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 288px;
    }
}



