.place{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    border: solid 2px burlywood;
}



/*
    display: block;
    max-width: 460px;
    border: solid 2px burlywood;
}

@media screen and (max-width: 768px) and (min-width: 1279px){
    .place {
        
}

@media screen and (max-width: 320px) and (min-width: 767px){
    .place {
        
        }
    }
    
@media screen and (max-width:768px) {
    .place{
        width: 340px;
        margin: 0;

    }
}
@media screen and (max-width:320px) {
    .place{
        
    }
}*/