.place__description{
    max-width: 484px;
    grid-area: description;
    display: flex;
    flex-direction: column; 
    align-self: flex-end;   
    border: solid 2px darkgreen;
}


@media screen and (max-width: 320px) and (min-width: 767px){
.place__description {
    align-items: center;
    margin: 0 16px;
    }
}

@media screen and (max-width: 768px){
    .place__description {
        max-width: 352px;
        }
    }