.place__description{
    /*margin-top: 48px;*/
    display: block;
    max-width: 484px;
    grid-area: description;
    border: solid 2px darkgreen;
}


/*
    margin-top: 48px;
    display: block;
    max-width: 484px;
    border: solid 2px darkgreen;
}

@media screen and (max-width: 320px) and (min-width: 767px){
.place__description {
    align-items: center;
    margin: 0 16px;
    }
}*/