.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 24px;
  /*width: 100%;*/
  text-align: start;
  margin-left: 200px;
  margin-top: 68px;
  color: #545454;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    max-width: 282px;
    font-size: 14px;
    margin-left: 19px;
    margin-bottom: 36px;
  }
}
