.description__title{
font-style: normal;
font-weight: 900;
font-size: 3.3rem;
/*border: rgb(135, 71, 255) 2px solid;*/
}

@media screen and (max-width: 880px){
.description__title{
    font-size: 2.9rem;    
    }
}
/*
@media screen and (min-width:320px) and (max-width:550px){
    .description__title{
        font-size: 2.5rem;    
        }
    }*/

@media screen and (max-width:320px) {
.description__title{
    font-size: 2rem;
    }
}

