.place__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    border: solid2px springgreen;
    align-items: stretch;
    
    
}

@media screen and (max-width:768px) {
.place__item{
    display: flex;
    flex-direction: row;
    width: 100%;
    }
}

@media screen and (max-width:320px) {
.place__item{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    }
}
