.place__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title artist"
        "image description"
        "button description";
    border: solid2px springgreen;
}


@media screen and (max-width:768px) {
.place__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title artist"
        "image description"
        "button description";
    /*border: solid2px springgreen;*/
    }
}

@media screen and (max-width:600px){
    .place__item{
        display: flex;
        flex-direction: column;
        }
}
/*
@media screen and (max-width:320px) {
.place__item{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;*/
    /*grid-gap: 30px;*/
    /*grid-template-areas:
        "title"
        "artist"
        "image"
        "description"
        "link";
    align-items: center
    }
}*/
