.place__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-gap: 48px 40px;
    grid-template-areas:
        "title artist"
        "image description"
        "button description";
    border: solid2px springgreen;
    
}












/*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    border: solid2px springgreen;
    align-items: stretch;
    
    
}

@media screen and (max-width:768px) {
.place__item{
    display: flex;
    flex-direction: row;
    width: 100%;
    }
}

@media screen and (max-width:320px) {
.place__item{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    }
}
*/