.description__title{
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
margin: 0;
margin-top: 92px;
max-width: 785px;
/*border: rgb(135, 71, 255) 2px solid;*/
}

@media screen and (max-width: 768px){
.description__title{
    margin-top: 88px;   
    }
}


@media screen and (max-width:320px) {
.description__title{
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    margin-top: 64px;
    max-width: 320px;
    }
}

.description__brief{
    margin-left: 148px;
    /*width: 100%;
    /*border: chartreuse 2px solid;*/
}

@media screen and (max-width: 880px){
    .description__brief{
        margin-left: 24px;
        margin-right: 24px;
    }
}
/*
@media screen and (max-width:768px) {
    .description__brief{
        margin: 0 24px;
        
        border: rgb(255, 0, 13) 2px solid;
    }
}
@media screen and (max-width:320px) {
    .description__brief{
        margin: 0 16px;
        
        border: rgb(255, 0, 234) 2px solid;
    }
}*/