.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
