.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  transition: opacity linear 0.35s;
  opacity: 1;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 350px) {
  .popup__close {
    background-size: 26px;
    width: 26px;
    height: 26px;
    left: calc(50% + 110px);
  }
}
