.photo-grid{
  display: grid;
  grid-gap:16px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(224px,1fr));
  /*border: solid 2px rgb(187, 255, 0);*/
}

@media screen and (max-width:768px){
  .photo-grid{
    grid-gap:16px;
    justify-content: center;
    align-items: center;
    /*border: solid 2px rgb(255, 0, 212);*/
  }
}

@media screen and (max-width:320px){
  .photo-grid{
    justify-content: center;
    /*border: solid 2px rgb(76, 0, 255);*/
  }
} 