.description__brief{
    margin-left: 148px;
    /*width: 100%;
    /*border: chartreuse 2px solid;*/
}

@media screen and (max-width: 880px){
    .description__brief{
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width:768px) {
    .description__brief{
        margin: 0 24px;
        
        /*border: rgb(255, 0, 13) 2px solid;*/
    }
}
@media screen and (max-width:320px) {
    .description__brief{
        margin: 0 16px;
        
        /*border: rgb(255, 0, 234) 2px solid;*/
    }
}