.cover {
  min-height: 740px;
  max-width: 1184px;
  width: 100%;
  background-image: url("../../images/__background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /*margin: 92px auto 0;*/
  margin: 0 auto;
  opacity: 1;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 746px;
    margin: 0;
  }
}
@media screen and (max-width: 560px) {
  .cover {
    min-height: 254px;
    /*margin: 92px 0;*/
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 14px;
  }
}
