.place__button{
    background: #0278fe;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding: 13px 20px;
    justify-self: start;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    grid-area: button;
    border: solid 2px lightgreen;
    height: min-content;
}
 
/*min-width: 248px;
    height: 48px;
    line-height: 22px;
    box-sizing: border-box;
    padding: 13px 20px;
    display: flex;
    justify-self: center;


    background: #0278fe;
    margin-top: 48px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    box-sizing: border-box;
    padding: 13px 20px;
    justify-self: start;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    border: solid 2px lightgreen;
}

.place__button:hover{
background-color: #0063D2;

}


@media screen and (max-width: 768px) and (min-width: 1279px){
    .place__button {
        
}

@media screen and (max-width: 320px) and (min-width: 767px){
.place__button {
    margin: 0 16px;
    max-width: 288px;
}
}
    
@media screen and (max-width:768px) {
    .place__button{
        margin: 0 24px;
        max-width: 248px; 
    }
}
@media screen and (max-width:320px) {
    .place__button{
        margin: 0 16px;
        max-width: 288px;
    }
}
*/