.place__button{
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
background-color: #0278FE;
width: 208px;
height: 22px;
margin: 61px 0 80px 0;
padding: 13px 20px;
text-decoration: none;
text-align: center;
border-radius: 4px;
}

.place__button:hover{
    background-color: #0063D2;
    
}