.place__artist-heading {
  margin: 0 0 8px 0;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}


@media screen and (max-width: 320px) {
  .place__artist-heading {
    height: 15px;
  }
}
