.place__image{
    width: 100%;
    border: solid 2px blue;
}

.place__image:last-of-type{
    background-color: #c4c4c4;
    position: relative;
    overflow: hidden;
    text-indent: -10000px;
    max-width: 460px;
    
}

.place__image:last-of-type{
    background-color: #c4c4c4;
    position: relative;
    overflow: hidden;
    text-indent: -10000px;
    max-width: 460px;
    
}

@media screen and (max-width:768px) {
.place__image{
    
    }
}
@media screen and (max-width:320px) {
.places__image{
    position: absolute;
    width: 100%;
    }
}
