.place__title{
        min-width: 400px;
        font-family: "Inter", "Arial", sans-serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 76px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0;
        padding: 0;
        grid-area: title;
        display: flex;
        align-items: flex-end;
    }
/*
@media screen and (max-width:768px) {
    .place__title{
        font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 340px;
        margin: 46px 24px 0 0;
    }
}
@media screen and (max-width:319px) {
    .place__title{
        font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    max-width: 288px;
        margin: 62px auto;
    }
}*/

@media screen and (max-width: 320px) and (min-width: 767px){
.place__title {
    margin: 0 16px;
    font-size: 32px;
    line-height: 35px;
    min-width: 288px;
    justify-content: center;
}
}

@media screen and (max-width: 768px) and (min-width: 1279px){
.place__title {
    font-size: 42px;
    line-height: 46px;
    min-width: 340px;
    }
}