.footer{
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width:768px) {
    footer{
        margin: 0 auto;
        text-align: center;
    }
}
@media screen and (max-width:319px) {
    footer{
        margin: 0 auto;
        text-align: center;
    }
}