.header__title{
    max-width: 793px;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    margin: 0;
    margin: 90px auto 0;
}


@media screen and (max-width: 1280px) and (min-width: 768px){
    .header__title{
        
        /*border: rgb(73, 226, 43) 2px solid;*/
    }
}

@media screen and (max-width:768px) {
    .header__title{
        margin: 90px 0 0;
        font-size: 96px;
        /*border: rgb(43, 70, 226) 2px solid;*/
        box-sizing: border-box;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px){    
    .header__title{
        
        /*border: rgb(226, 43, 43) 2px solid;*/
        
    }
}

@media screen and (max-width:320px) {
    .header__title{
        margin: 51px auto 0;
        font-size: 40px;
        line-height: 44px;
        /*border: rgb(226, 43, 171) 2px solid;*/
        
    }
}
