.cover{
    min-height: 740px;
    background-image: url("../../../images/__background.jpg");
    background-size: 1184px 740px;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 92px 48px;
    opacity: 1;
}

.cover:hover{
    opacity: 0.8;
    /*cursor: url("../../../images/cursor-black.svg") 0 0, auto;*/

}

