.place__artist {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  grid-area: artist;
}

@media screen and (max-width: 768px) {
  .place__artist {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) and (min-width: 767px) {
  .place__artist {
    margin: 0 16px;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .place__artist {
    margin: 0 16px;
    max-width: 288px;
  }
}
