.header__title{
    max-width: 793;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    font-size: 5.5rem;
    max-width: 793px;
    margin: auto;
    padding-top: 90px;
}

  

    
        
    
    

@media screen and (max-width: 1280px) and (min-width: 768px){
    .header__title{
        width: 90%;
        border: rgb(73, 226, 43) 2px solid;
    }
}

@media screen and (max-width:768px) {
    .header__title{
        margin: 90px 0 0;
        text-align: center;
        font-weight: 900;
        font-size: 6rem;
        border: rgb(43, 70, 226) 2px solid;
        box-sizing: border-box;
    }
}

@media screen and (max-width:600px){
    .header__title{
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    box-sizing: border-box;
    } 
}

@media screen and (min-width: 320px) and (max-width: 768px){    
    .header__title{
        width: 100%;
        border: rgb(226, 43, 43) 2px solid;
        box-sizing: border-box;
    }
}

@media screen and (max-width:320px) {
    .header__title{
        margin: 51px auto 0;
        text-align: center;
        font-weight: 900;
        font-size: 2.5rem;
        border: rgb(226, 43, 171) 2px solid;
        width: 100%;
    }
}
